Pedal powered game with two pedal generators

* Hardware:
** Arduino Nano
** 2 x Pedal powered generators
** 2 x WS2811 LED strips
** 3 digit 7-segment LED display for timer
** Push button
** Power supply

* Inputs:
** Reset switch (pin=D2)
** 2 x analog pins for voltage measuement,  r1=10k r2=560k (pins: A0 & A1)
** Internal voltage for brownout detection, r1=10k r2=100k (pin: A6)

* Outputs:
** 2 x LED data pins (pins: D3 & D4)
** SLatch, SCLK, SData to control LED display

* Program flow:
** Zero display [done]
** Wait for reset button [done]
** Zero bars [done]
** Countdown from 5 to GO! [done]
** Start game:
*** Timer countdown from 30.0 to 0 [done]
*** Pedalling increments energy values based on vIn values and timeslice [done]
**** 1st calc power as V^2.R  (in watts) ~ 0-1000W [done]
**** Then calulate energy in WattSeconds (Joules) ~20000 Ws [done]
**** LED strip "full" should be configurable at compile time in Ws, per strip [done]
**** Reset button during game does the same thing - starts game from countdown [done]
*** At end of game, LED displays freeze, display shows "P1!" or "P2!" or "1=2" depending on which has the highest energy value
*** wait for reset to be pressed [done]

* Notes:
** Use long (200 ms) debounce on input to prevent noise resetting during game
** LED strips fill from one end with a single color.  Colours can be configurable at compile time, per strip.

* Nice extras:
** Mode select mode: easy, medium, hard... to configure WattSeconds to complete each strip

TODO:
* handle brownouts
* volts as floats throughout to avoid confusion (and push into fairy lights)
* libraryize bits
* only update neopixels when needed, not on 100ms timer?
* nicer LED color usage
